.body {
    margin: 0%;
}
.text-tengah  {
  text-align: center;
}
.text-tengah img {
    margin: 0 auto;
    width: 240px;
}
.topnav {
    overflow: hidden;
    background-color: #fff6f6;
}
.topnav a {
    float: left;
    color: #323643;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.topnav a:hover {
    background-color: #ddd;
    color: black;
}